.descriptionBlock {
    padding: 10px;
}

.avatar {
    width: 150px;
}

.fullName, .aboutMe {
    margin: 10px 20px;
}

.contact {
    padding-left: 10px;
}

.formSummaryError {
    border: red 1px solid;
    color: red;
    padding: 10px;
}
