.formControl.error input,
.formControl.error textarea {
    border: solid red 2px;
}

.formControl.error {
    color: red;
}

.formSummaryError {
    border: red 1px solid;
    color: red;
    padding: 10px;
}